@charset "utf-8";

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0px auto;
	background-color: white;
	font-family: Calibri, sans-serif;
	font-size: 13pt;
	color: black;
	min-width: 700px;
	width: 70%;
	max-width: 100%;
	min-height: 100%;
}

@media only screen and (max-width: 700px) {
	body {
		width: 100%;
		min-width: 100%;
	}
}

.page:not(.active),
[data-set-lang].selected,
body[data-lang="nl"] [lang]:not([lang="nl"]),
body[data-lang="en"] [lang]:not([lang="en"]) {
	display: none;
}

header {
	padding: 0;
	background-color: #bababa;
	color: #003080;
}

header h1 {
	text-align: center;
}

header h1 em {
	font-size: larger;
}

.noscript {
	background-color: red;
	font-size: larger;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	color: white;
}

#menu {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#menu li {
	float: left;
	cursor: pointer;
}

.set-page {
	cursor: pointer;
}

#menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
}

#menu li[data-set-lang] {
	float: right;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: 0 20px;
}

#menu li[data-set-lang="en"] {
	background-image: url('english.png');
}

#menu li[data-set-lang="nl"] {
	background-image: url('dutch.png');
}

#menu li:not(.active):hover {
	background-color: #111;
}

#menu .active {
	background-color: #bf0010;
}

content {
	flex: 1;
	flex-basis: auto; /* IE */
	display: block;
	padding: 0 15px;
	padding-bottom: 25px;
	margin-top: 25px;
}

.page[data-page-id="aboutme"] ul {
	list-style-type: square;
}

dt {
	font-weight: bold;
	margin-top: 1em;
}

.construction {
	font-size: xx-large;
	color: red;
	text-align: center;
}

h2 {
	font-size: 125%;
	margin-top: 25px;
}

img {
	width: 250px;
	max-width: 50%;
	float: right;
	margin-left: 10px;
}

iframe.soundcloud {
	margin: 1em auto;
	width: 90%;
	display: block;
}

footer {
	background-color: darkgray;
}

#footer-menu {
	display: flex;
	padding-left: 15px;
}

#footer-menu div {
	flex: 0.5;
	padding: 15px;
	padding-left: 0px;
}

@media (max-width: 600px) {
	#footer-menu {
		flex-direction: column;
	}
}

footer ul {
	list-style-type: none;
}

footer .copyright {
	padding: 15px;
	background-color: gray;
	color: darkgray;
	font-size: small;
	text-align: center;
}

footer .set-page {
	text-decoration: underline;
}
