@charset "utf-8";

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	position: relative;
	margin: 0px auto;
	padding-bottom: 150px;
	background-color: white;
	font-family: Calibri, sans-serif;
	font-size: 14pt;
	color: black;
	min-width: 700px;
	width: 70%;
	max-width: 100%;
	min-height: 100%;
}

@media only screen and (max-device-width: 700px) {
	body {
		width: 100%;
		min-width: 100%;
	}
}

.page:not(.active),
[data-set-lang].selected,
body[data-lang="nl"] [lang]:not([lang="nl"]),
body[data-lang="en"] [lang]:not([lang="en"]) {
	display: none;
}

header {
	padding: 10px;
	background-color: #bababa;
	color: #003080;
}

header h1 {
	text-align: center;
}

header h1 em {
	font-size: larger;
}

.noscript {
	background-color: red;
	font-size: larger;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	color: white;
}

#menu {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#menu li {
	float: left;
	cursor: pointer;
}

#menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#menu li[data-set-lang] {
	float: right;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: 0 20px;
}

#menu li[data-set-lang="en"] {
	background-image: url('english.png');
}

#menu li[data-set-lang="nl"] {
	background-image: url('dutch.png');
}

#menu li:not(.active):hover {
	background-color: #111;
}

#menu .active {
	background-color: #bf0010;
}

content {
	display: block;
	padding: 0 15px;
}

.construction {
	font-size: larger;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: grey;
}
